.game {
    display: flex;
    flex-direction: column;
}


#react-dom-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #417ee1b8;
}
.heading {
    display: flex;
    font-weight: bold;
    font-size: xx-large;
    padding: 10px;
}
.game-board{
    align-self: center;
}

.announcement{
    margin: 10%;
}
